{% extends 'base.html' %} {% block title %}Create Poll{% endblock %} {% block
content %}
<div class="container p-3">
  <h3>Create Poll</h3>
  <form action="" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="Enter Title..."
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        placeholder="Enter Description..."
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="choices" class="form-label">Choices</label>
      <textarea
        class="form-control"
        id="choices"
        name="choices"
        placeholder="Enter Choices..."
      ></textarea>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>

{% endblock %}
